<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">name</span>
    </div>
    <div class="small-9 large-10 columns">
    <!--<%= f.label :commenter %>-->
      <%= f.text_field :commenter %>
    </div>
    </div>
    <%= f.text_area :body %>
    <%= f.submit %>
  </p>
<% end %>
