<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.text_area :body %>
    <div class="row collapse">
      <div class="small-2 large-2 columns">
        <span class="prefix">name</span>
      </div>
      <div class="small-8 large-8 columns">
      <!--<%= f.label :commenter %>-->
        <%= f.text_field :commenter %>
      </div>
      <div class="small-2 large-2 columns">
        <!--<span class="right"><%= f.submit %></span>-->
        <!-- TODO figure out how to scale this button -->
        <a href="#" class="button tiny radius right">submit</a>
      </div>
    </div>    
  </p>
<% end %>
