  <div class="row">
    <div class="small-12 large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
       <!--
         <li><a href="#" class="button">Link 1</a></li>
         <li><a href="#" class="button">Link 2</a></li>
         <li><a href="#" class="button">Link 3</a></li>
         <li><a href="#" class="button">Link 4</a></li>
        -->
        </ul>
      </div>
      <h1>Matt Kim Blog <small>This is my blog. It's awesome.</small></h1>
      <hr/>
    </div>
  </div>

  <div class="row">
      <div class="small-12 large-12 columns" role="content">
      <!-- Auto populate these articles -->
      <% @articles.each do |article| %>
        <article>
        <h3><%= link_to article.title, article_path(article) %></h3>
        <div class="row">
          <div class="small-12 large-12 columns">
            <!-- Note that by default Rails will auto escape string here -->
            <p><%= article.text.html_safe %></p>
          </div>
        </div>

        <%= link_to 'Edit', edit_article_path(article) %> |
        <%= link_to 'Destroy', article_path(article),
                            method: :delete, data: { confirm: 'Are you sure?' } %>
        </article>
        <hr/>
      <% end %>
    </div>
  </div>

  <footer class="row">
    <div class="small-12 large-12 columns">
      <hr/>
      <div class="row">
        <div class="small-6 large-6 columns">
          <p>© Copyright Matt Kim</p>
        </div>
        <div class="small-6 large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to 'New article', new_article_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>