<table>
  <tbody>
    <!-- Auto populate these articles -->
    <% @articles.each do |article| %>
    <tr><td>
      <article>
      <p>
      <strong><%= link_to article.title, article_path(article) %></strong>
          <!-- Note that by default Rails will auto escape string here -->
      <br/><%= article.text.html_safe %>
      <br/><span class="right"><%= link_to article.comments.count, article_path(article) %> <i class="fi-comment"></i></span> 
      <!--|
      <%= link_to 'Edit', edit_article_path(article) %> |
      <%= link_to 'Destroy', article_path(article),
                          method: :delete, data: { confirm: 'Are you sure?' } %>
                          -->
      </p>
      </article>
    </td></tr>
    <% end %>
  </tbody>
</table>

<footer class="row">
    <div class="row">
      <div class="small-6 large-6 columns">
        <p>© Copyright Matt Kim</p>
      </div>
      <div class="small-6 large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to 'New article', new_article_path %></li>
        </ul>
      </div>
    </div>
  
</footer>