<h3><%= @article.title %></h3>
<p><%= @article.text.html_safe %></p>
  <div class="row">
  <%= link_to 'Back', articles_path %>
  | <%= link_to 'Edit', edit_article_path(@article) %>
  </div>

	<div class="row">
		<div class="large-6 large-centered columns">

		<%= render "comments/form" %>

		<!--<p>Comments: <%= @article.comments.count %></p>-->
		<hr/>
		<%= render @article.comments %>
		</div>
	</div>
