<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mattkim blog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body style="background-color:#F0F8FF">
    <div clas="row">
    <div class="small-12 medium-8 large-6 small-centered medium-centered large-centered columns" style="background-color:white; max-width:600px;">
      <div class="row">
          <div class="nav-bar right">
           <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
             <li><h2><a href="/" ><i class="fi-home"></i></a></h2></li>
             <li><h2><a href="#" ><i class="fi-power"></i></a></h2></li>
            </ul>
          </div>
          <h2>Matt Kim Blog <img src="https://fbcdn-photos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-0/10442348_10152577711690844_5859271812230606479_s.jpg?oh=d46ef1a0fee9a9a79800215d6772954f&oe=542B02FF&__gda__=1410947200_87f74680046cc6f0b2f709a3c6df7ee5" style="height:50px"/></h2>
                
      </div>

      <%= yield %>
      
    </div>
    </div>

    <%= render 'layouts/googleanalytics' %>
  </body>
</html>