<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mattkim blog" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body style="background-color:#F0F8FF">
    <div clas="row">
    <div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns" style="background-color:white;">

      <%= yield %>
      
    </div>
    </div>

    <!--TODO: figure out how to inherit some of this layout from application -->
    <!-- also work on google ad sense and google analytics support -->
    <%= render 'layouts/googleanalytics' %>
  </body>
</html>
